<h1>Edit your wiki</h1>

<div class="row">

	<div class="col-md-8">
		<%= form_for @wiki do |f| %>

		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
		</div>		   
		<div class="form-group">
			<%= f.label :outline %>
			<%= f.text_area :outline, rows: 5, class: 'form-control', placeholder: "Make an outline" %>
		</div>

		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, rows: 12, class: 'form-control', placeholder: "Go further in depth according to outline" %>
		</div>

		<% if current_user.role == 'premium' %>
		<div class="form-group">
			<%= f.label :public %> - uncheck to make private
			<%= f.check_box :public, class: 'form-control' %>
		</div>
		<% end %>

		<div class="form-group">
			<%= f.submit "Save", class: 'btn btn-success' %>
		</div>
		<% end %>

	</div>
	<div class="col-md-4">
		<h4>You can style Wikis with <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %>:</h4>
		<ul>
			<li>You can create headers:
			<ul>
					<li><h3>h1</h3></li>
					<li><h4>h2</h4></li>
					<li><h5>h3</h5></li>
				</ul>
			</li>
			<li>You can create lists:
				<ul>
					<li>First item</li>
					<li>Second item</li>
					<li>Third item</li>
				</ul>
			</li>
			<li>You can add links:
				<ul>
					<li>Read more about <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %></li>
				</ul>
			</li>
			<li>Plus a whole lot <%= link_to "more...", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %></li>
		</ul>
	</div>
	
</div>


<div class="row">
	<hr>
	<div class="col-md-8">
		<h1>Collaborators</h1>
		<%= render 'collaborations/collaboration_add' %> 
	</div>

	<div class="col-md-4" style="margin-top:45px">
      <%= render 'collaborations/collaboration_edit' %>
	</div>
</div>


<!-- testtesttest for reference to users-->
<h1>test only - REFERENCE - test only</h1>
<%= form_tag '/collaborations' do %>
         <br/>
         <h4>Users: </h4>
         <table class="table">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Give Access</th>
            </tr>

            <%= hidden_field_tag :wiki_id, value: @wiki.id %>


            <% @users.each do |user| %>
               <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td>
                     <%= check_box_tag "user_ids[]", user.id,
                        @wiki.collaborations.where(user_id: user.id).any? %>
                     </td>
               </tr>

            <% end %>
         </table>
      <% end %>
      <!-- testtesttest -->