<!DOCTYPE html>
<html>
<head>
  <title>MAWiki</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">MAWiki</a>
      </div>


      <div class="navbar-collapse collapse navbar-responsive-collapse">


        <ul class="nav navbar-nav">
          <li><%= link_to "Wikis", wikis_path %></li>

          <li><%= link_to "Users", users_path %></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello <%= current_user.name || current_user.email %>!<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Your Wikis", current_user %></li>
              <li><%= link_to "Your Account", edit_user_registration_path %></li>
            </ul>
          </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

          <% else %>

          <li><%= link_to "Sign In", new_user_session_path %></li>

          <% end %>
        </ul>

      </div>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
